In [2]:
import pandas as pd

db = pd.read_excel('Family.xlsx')

In [3]:
db

          name      postion
0      Dulguun    Elder son
1     Munkhtur       father
2    Altansuvd       Mother
3  Enkh Erdene   Middle son
4      Enkhzul  Little girl

In [1]:
print('Hello World')

Hello World